# Logs
logs
*.log
*.aux
npm-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*

src-tauri/binaries/*
!src-tauri/binaries/.gitkeep

playwright-report
test-results

scripts/local-build
octokit

runtime_old

**/fixtures/**/test**

.vitest-attachments

_refactoring-ideas
