@use './fonts.scss' as fonts;

:root {
  @include fonts.geometric-humanist;
  @include fonts.global-size;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  shape-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

#root {
  overflow: hidden;

  filter: contrast(var(--contrast));
  will-change: filter;

  // foreground
  --textBlack: #111;
  --textWhite: #eee;
  --textYellow: #faedcb;
  --textGreen: #c9e4de;
  --textBlue: #c6def1;
  --textPurple: #dbcdf0;
  --textPink: #f2c6de;
  --textOrange: #f7d9c4;

  // background
  --bgBlack: #111;
  --bgWhite: #eee;
  --bgYellow: #faf2de;
  --bgGreen: #e8fef9;
  --bgBlue: #d7e6f1;
  --bgPurple: #f0e6ff;
  --bgPink: #f7daea;
  --bgOrange: #f7e4d7;

  --sidebarBg: color-mix(in srgb, var(--textColor) 10%, var(--bg));
  --errorColor: #d90000;
  --transitionDuration: 0.15s;

  // &.dark-mode {
  //   main > img:not(.no-filter) {
  //     filter: invert(1) hue-rotate(180deg);
  //   }
  // }
}

button {
  @include fonts.geometric-humanist;
}
