@use '../../styles/fonts.scss' as fonts;

.sidenote {
  display: inline;

  // inline
  // .sidenote-count {
  //   display: none;
  // }

  .sidenote-label {
    // display: none;
    display: inline-block;
    text-indent: -9999px;
  }

  .sidenote-content {
    float: right;
    clear: right;
    text-align: left;
    margin-bottom: 1.8em;
    // line-height: 1.5;
    hyphens: auto;
    font-style: normal;

    & > span {
      display: block;
    }

    & > span:not(:first-of-type) {
      margin-top: 1em;
    }

    sup {
      padding-right: 0.2em;
    }

    & > span.maths {
      margin: 1em 0 0 0;
    }

    img {
      max-width: 100%;
      margin: 0 0 1em 0;
    }
  }

  // .sidenote-count {
  //   display: inline-block;
  //   padding: 0 0.3em;
  //   min-width: 1.5em;
  //   min-height: 1.5em;
  //   line-height: 1.5em;
  //   text-align: center;
  //   background: white;
  //   border-radius: 0.75em;
  //   box-shadow: 0 2px 3px #0005;
  //   font-weight: bold;
  // }

  // label > sup {
  //   font-size: inherit;
  //   line-height: inherit;
  //   position: relative;
  //   bottom: 0.1em;
  //   transform: scale(0.7);
  // }

  // small {
  //   float: right;
  //   clear: both;
  //   margin-top: 0.1em;
  //   margin-bottom: 1em;
  //   font-size: 0.8rem;
  //   font-weight: normal;
  //   line-height: 1.25;
  //   text-indent: 0;

  //   sup {
  //     line-height: 1.6em;
  //   }

  //   .sidenote-parenthesis {
  //     position: absolute;
  //     left: -99999px;
  //   }
  // }
}

aside.inline-footnotes {
  padding: 0.5em 1em;
  border-radius: 0.4em;
  background: color-mix(in srgb, var(--textColor), transparent 95%);
  border: 1px solid color-mix(in srgb, var(--textColor), transparent 85%);
  sup {
    padding-right: 0.2em;
  }
}
