@use '../../styles/fonts.scss' as fonts;

p.maths {
  &:has(code.latex) {
    text-wrap-mode: wrap;
    margin-bottom: 1.5em;
    text-align: left;
  }
  code.latex {
    display: block;
    padding: 0.8em 1em;
  }
  .eq-count {
    margin-left: 1em;
  }
}

code:not(.maths) {
  display: inline-block;
  @include fonts.monospace-slab;
  line-height: 1.5;
  // font-size: 0.9em;
  padding: 0 0.4em;
  border-radius: 0.3em;
  // margin: 0 0.2em;
}

code.latex {
  font-weight: 600;
  font-size: 0.9em;
  // line-height: 1;
  font-style: normal;
  // display: inline-block;
  // background: #444;
  // color: #ccc;
  // padding: 0.1em 0.5em 0.05em;
  // border-radius: 0.3em;
  // position: relative;
  // bottom: 0.1em;
}

code:not(.maths) {
  background: hsl(from var(--bg) h s calc(l - 7));
  color: color-mix(in srgb, var(--textColor), transparent 20%);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: hsl(30, 20%, 50%);
}

.token.punctuation {
  opacity: 0.7;
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: hsl(350, 40%, 70%);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: hsl(75, 90%, 30%);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable,
.token.regex,
.token.important {
  color: hsl(40, 90%, 45%);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: hsl(350, 40%, 60%);
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.deleted {
  color: red;
}

.dark-mode {
  code:not(.maths) {
    background: hsl(from var(--bg) h s calc(l + 7));
  }

  // .token.comment,
  // .token.prolog,
  // .token.doctype,
  // .token.cdata {
  //   color: hsl(30, 20%, 50%);
  // }

  // .token.property,
  // .token.tag,
  // .token.boolean,
  // .token.number,
  // .token.constant,
  // .token.symbol {
  //   color: hsl(350, 40%, 70%);
  // }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: hsl(75, 70%, 40%);
  }

  // .token.operator,
  // .token.entity,
  // .token.url,
  // .language-css .token.string,
  // .style .token.string,
  // .token.variable,
  // .token.regex,
  // .token.important {
  //   color: hsl(40, 90%, 60%);
  // }

  // .token.atrule,
  // .token.attr-value,
  // .token.keyword {
  //   color: hsl(350, 40%, 70%);
  // }
}
